.topbox {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 67px;
    font-size: 200%;

    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
}

.topbox > div {
    width: 25%;
    background-color: red;
    margin: 2px;
}

#homepage {
    margin-left: 0;
}

#about {
    margin-right: 0;
}

.center > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    background-color: red;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 120%;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom > div {
    background-color: red;
    width: 100%;
    margin: 2px;
    display: flex;
}

.topbox :hover {
    background-color: rgb(224, 0, 0);
}

.whitelink {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.current_page {
    background-color: rgb(224, 0, 0);
}

@media screen and (max-width: 750px) {
    .topbox {
        display: block;
    }

    .topbox > div {
        width: 100%;
        margin: 0px;
        border: 1px solid white;
    }

    .bottom {
        display: block;
        height: auto;
    }

}


.under-header {
    padding-top: 50px;
    margin-top: 20px;
}

/* kode spesielt til movies og popup-boks */

.movie-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}

.movie {
    width: 45%;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#popupTitle {
    text-align: center;
    margin-bottom: 20px;

}

.popup-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.popup-image {
    margin-right: 20px; 
    max-width: 200px; 
}

#popupText {
    flex: 1; 
    text-align: left;

}

@media (max-width: 768px){
    .movie{
        width: 100%;
    }
}





